@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html,body{
    height: 100%;
    width: 100%;

}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121312;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}
section::before{
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-180px, -120px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);

}
section::after{
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(180px, 120px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    
}
.container{
    position: relative;
    height: 275px;
    width: 475px;
    z-index: 100;
}
.container .card{
    height: 100%;
    width: 100%;    
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.front-face .logo img{
    width: 48px;
    
}
h5{
    font-size: 16px;
    font-weight: 400px;
}